@model IEnumerable<EFSemMigrations.ViewModels.UsuarioViewModel>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                DataNascimento
            </th>
            <th>
                Sexo
            </th>
            <th>
                Altura
            </th>
                <th>
                Ativo?
            </th>
            <th>
                Info Outra Entidade
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Nome
            </td>
            <td>
                @item.DataNascimento.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.Sexo
            </td>
            <td>
                @item.Altura
            </td>
            <td>
                @item.Ativo
            </td>
            <td>
                @item.Mensagem
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>